* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .input-container {
    margin-bottom: 10px; 
  }
  
  .button-container {
    margin-top: 10px; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #89dee7;
  }
  
  .hero{
    /* display:center; */
    min-height: 400px;
    height: 100%;
    width: 100%;
    position:relative ;
    overflow: hidden;
    /* background-color: black; */
    /* background-attachment: scroll; */
    /* object-fit: cover; */
    background-size:auto ;
    background-position:center ;
    /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2); */
  }
  
  .content{
    list-style: none;
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
    width: 100%;
    /* color: white; */
    /* margin-inline: auto; */
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .explanation-font-white{
    list-style: none;
    /* position: absolute;  */
    height: 100%;
    width: 100%;
    min-width: 1000px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(87, 53, 75);
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .explanation-font-black{
  list-style: none;
  /* position: absolute;  */
  height: 100%;
  width: 100%;
  min-width: 1000px;
  padding-left: 100px;
  padding-right: 100px;
  color: black;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  